body {
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

article  {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    margin: 5px;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 0.25em;
    vertical-align: text-top;
    margin-top: 0.5em
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.5em;
    width: 100%;
    float: left;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

header {
    height: 95px;
}

hr {
    width: 100%;
}

/* Colors */
.grey {
    color: grey;
}

.darkslategrey {
    color: darkslategrey;
}

.orange {
    color: orange;
}



.logo {
    float: left;
    max-width: 90px;
    max-height: 90px;
}

.heading {
    float: right;
    text-align: right;
}


.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.introduction-image {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em;
    max-height: 260.5px;
}

.image-container {
    width: 100%;
}

.introduction-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    margin: 0;
    text-align: justify;
    display: inline-block;   
    padding: 0.5em;
    box-sizing: border-box;
}

.movie-poster {
    max-width: 220px;
    max-height: 326px;
}

.introduction {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.featured-content {
    width: 100%;
    padding: 10px;
}