/* Default selectors */
body {
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

header {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
}

section {
    box-sizing: border-box;
}

article  {
    width: 49%;
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
}

/* Headlines*/
h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 3em;
    line-height: 0.25em;
    margin-top: 0.25em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 2.25em;
    width: 100%;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75em;
}

a {
    font-size: 1.5em;
}

hr {
    width: 100%;
}

/* Custom selectors */
/* Colors */
.grey {
    color: grey;
}

.darkslategrey {
    color: darkslategrey;
}

.orange {
    color: orange;
}

/* Heading */
.logo {
    max-width: 120px;
    max-height: 120px;
}

.heading {
    text-align: right;
}

/* Content */
.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Introduction */
.introduction {
    width: 100%;
}

.image-container {
    width: 100%;
}

.introduction-image {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em;
    max-height: 460.5px;
}

.introduction-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    width: 100%;
    margin: 0;
    padding: 0.5em;
    text-align: justify;
    display: inline-block;   
    box-sizing: border-box;
}

/* Movies */
.movie-poster {
    max-width: 220px;
    max-height: 326px;
}

.featured-content {
    width: 100%;
}